<!--
  Generated template for the FilmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{category.name}} films</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list-header>
            Found {{films?.length}} film(s)
    </ion-list-header>
    <ion-list>
        <button ion-item *ngFor="let film of films | orderBy: name" (click)="filmTapped($event, film)" attr.id="{{film.id}}">
                <div item-start>{{film.name}}</div>
                <div item-right>{{film.release_year}}</div>
        </button>
    </ion-list>
</ion-content>
