<!--
  Generated template for the FilmDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{film.name}}({{film.release_year}})</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
        <ion-card>
            <ion-card-header>
                {{film.name}}
                <div style="float: right;">{{film.release_year}}</div>
            </ion-card-header>
            <ion-card-content>
                {{film.description}}
            </ion-card-content>
        </ion-card>
</ion-content>
