<!--
  Generated template for the CategoriesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Categories</ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
        <ion-list-header>
                Found {{categories?.length}} categories
        </ion-list-header>
    <ion-list>
        <button ion-item *ngFor="let category of categories | orderBy: name" (click)="categoryTapped($event, category)" attr.id="{{category.id}}">
          {{category.name}}
        </button>
    </ion-list>
</ion-content>
